.grid-container {
    display: grid;
}

@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');

h1 {text-align: center; border-style: solid; border-radius: .25em; color: orange; background-color:red ; color: white; border-color:red; border-width: 20px; font-family: 'Montserrat', sans-serif;}

body {background-color: white; font-family: 'Montserrat', sans-serif; font-size: 20px;}

h2 {border-bottom:solid;}

li {color: black; padding-bottom: 10px;}

a {color: red;}

a:hover {color: black;}

p {text-align: center;}

footer {border-style: solid; border-color: rgb(33, 48, 68); background-color: rgb(33, 48, 68); border-radius: .50em; border-width: 20px; font-family: 'Montserrat', sans-serif; color: white; margin-bottom: ;}

img {float: right; margin-right: 20px; margin-top: 20px; box-shadow: 0px 0px 40px 10px black;}

div {padding: 10px;}

