h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

img {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 400px;
    /* opacity: 1;
    transition: all 500ms; */
}

.flowers, .mountain, .lake, .ocean, .city, .snow{
    display: block;
    margin: auto;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        width: 375px;
    }

    to {
        opacity: 1;
        width: 400px;
    }
}

.img[data-src] {
    animation: fadeIn 2s;
}

/* .main {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.main.appear {
    opacity: 1;
} */