@media only screen and (min-width: 35em) {

nav button {display: none;}

nav ul {
    margin-left: 2%;
}

nav ul li {
    float: left;
}

nav ul li a {
    border: none;
    border: 1px solid black;
    padding: .8rem 1rem;
    text-align: center;
}

#logo {
    width: 120px;
}

h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px;  
}

.byuilink {
    color: black;
}

a {
    color: white;
}

}