@media only screen and (min-width: 64em) {

nav ul li a {
    padding: .6rem 1rem;
}

#logo {
    width: 120px;
}

h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px;  
}

.byuilink {
    color: black;
}

a {
    color: white;
}



.hero {
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    margin-bottom: 10px;
}

.fiveday {
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    margin-bottom: 10px;
}

.article {
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    margin-bottom: 10px;
}

.contact {
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    margin-bottom: 10px;
}

main {
    max-width: 1200px;
    margin: auto;
}


footer {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-color: cornflowerblue;
    max-width: 1250px;
    margin: auto;
}

}