main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.thankyou {
    padding: 150px;
    margin: auto;
}

form fieldset {
    margin: 2rem 0;
    border: 3px solid rgb(69, 82, 104);
    border-radius: 10px;
    padding: .5rem 2%;
    font-family: 'Montserrat', sans-serif;
    color: red;
    margin-left: 0px;
}

form legend {
    color:  rgb(69, 82, 104);
    margin: 0 1rem;
    padding: 0 .5;
}
    
form label.topLbl , form div{
    display: block;
    padding-top: 1rem;
    font-size: 14px;
}

form label.topLbl input, form label.topLbl select {
    display: block;
    font-size: 14px;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
}

form label.mid {
    display: block;
    padding: .75rem 0;
    color: #555;
}

textarea {
    border-radius: 4px;
}

form .reportBtn {
    border: 4px solid rgb(69, 82, 104);
    border-radius: 6px;
    background-color:  rgb(69, 82, 104);
    color: white;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    height: 40px;
}

form label.topLbl input:required {
    border-left: red solid 6px;
}

form label.topLbl input:required:valid {
    border-left: green solid 6px;
}


.reportBtn:hover {
    background-color: grey;
}

