@media only screen and (min-width: 64em) {
    
.top {
    margin-bottom: 10px;
    max-width: 1200px;
    margin: auto;
}

#logo {
    width: 120px;
}

header {
    display: grid;
    grid-template-columns: repeat(2,150px);
    grid-template-rows: repeat(2,150px);
}

.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.logo-title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.logo-paragraph {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

nav ul li a {
    padding: .6rem 1rem;
}

p {
    font-family: 'Roboto Mono', monospace;
}


.preston-heading {
    margin-bottom: 10px;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}


.hero {
    text-align: center;
    border-style: solid;
    margin-bottom: 10px;
    max-width: 1200px;
    margin: auto;
}

.fiveday {
    text-align: center;
    border-style: solid;
    margin-bottom: 10px;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

.article {
    text-align: center;
    border-style: solid;
    margin-bottom: 10px;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

.contact {
    text-align: center;
    border-style: solid;
    margin-bottom: 10px;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

footer {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-color: rgb(69, 82, 104);
    width: 100%;
    margin: auto;
}

h2 {
    text-align: center;
}

.herodiv {
    margin: 10px auto;
    position: relative;
    width: 960px;
    height: 370px;
}

.hero-ph {
    margin: 10px auto;
    background-color: #eee;
    border: 1px solid #333;
    width: 100%;
    height: 362px;
}

.weathersummary {
    position: absolute;
    top: 1rem;
    left: 10px;
    padding: 5px;
    border: solid black;
    width: 250px;
    background-color: rgb(69, 82, 104, 0.8);
    margin-top: 5%;
}

.heroimg {
    max-width: 960px;
}

.weathericon1, .weathericon2, .weathericon3, .weathericon4, .weathericon5 {
    width: 60px;
    padding-right: 20px;
    padding-left: 20px;
}

ul {
    list-style-type: none;
}

.day1, .day2, .day3, .day4, .day5  {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    display: inline-block;
    margin-right: 34px !important ;
    margin-left: 34px !important;
}

.temp1, .temp2, .temp3, .temp4, .temp5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    display: inline-block;
    margin-right: 34px !important ;
    margin-left: 34px !important;
}

.fiveday {
    margin: 10px auto;
    position: relative;
    width: 960px;
    height: 220px;
    padding-top: 0;
    margin:aut;
    background-color: rgb(69, 82, 104);
    margin-bottom: 10px;
}

.images {
    padding-top:24px;
}

.fivedayheader {
    border: solid black;
    border-radius: 25px;
    width: 280px;
    text-align: center;
    margin: 10px auto;
    background-color: black;
    color: white;
}

.prestonheader {
    border: solid black;
    background-color: black;
    border-radius: 25px;
    color: white;
    width: 300px;
    text-align: center;
    margin: 10px auto;
}

.temp {
    margin-right:4%;
}

.articlediv {
    margin: 10px auto;
    position: relative;
    width: 960px;
    height: 370px;
    border: solid black;
    background-color: black;
}

.articleimg {
    max-width: 300px;
    float: right;
    margin:10px;
    border-radius: 25px;
}

.articlep {
    color: white;
    text-align: justify;
    padding: 5px;
}

.articleh3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 10px;
}

.infodiv {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30px 170px 75px;
    width: 100%;
    border: solid  rgb(69, 82, 104);
}


.social1, .social2, .social3 {
    width: 35px;
}

.infotitle {
    grid-row: 1/2;
    grid-column: 2/3;
}

.infop {
    color: black;
    grid-row: 1/2;
    grid-column: 2/3;
    padding-top: 75px;
}

.mapimg {
    grid-row: 1/2;
    grid-column: 1/4;
    max-width: 100%;
    padding: 20px;
    align-self: center;
}

.socialdiv {
    grid-row: 3/4;
    grid-column: 2/3;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 33% 33% 33%;
    margin: auto;
    max-height: 1500;
    max-width: 1200px;
}



.snow {
    max-width: 500px;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/2;
    border: solid black 1px;
    margin: 5px;
}

.rainbow {
    max-width: 500px;
    text-align: center;
    grid-row: 1/2;
    grid-column: 2/3;
    border: solid black 1px;
    margin: 5px;
}

.river {
    max-width: 500px;
    text-align: center;
    grid-row: 1/2;
    grid-column: 3/4;
    border: solid black 1px;
    margin: 5px;
}

.lightning {
    max-width: 500px;
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/2;
    border: solid black 1px;
    margin: 5px;
}

.spring {
    max-width: 500px;
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/3;
    border: solid black 1px;
    margin: 5px;
}

.tornado {
    max-width: 500px;
    text-align: center;
    grid-row: 2/3;
    grid-column: 3/4;
    border: solid black 1px;
    margin: 5px;
}

.morning {
    max-width: 500px;
    text-align: center;
    grid-row: 3/4;
    grid-column: 1/2;
    border: solid black 1px;
    margin: 5px;
}

.fall {
    text-align: center;
    max-width: 500px;
    grid-row: 3/4;
    grid-column: 2/3;
    border: solid black 1px;
    margin: 5px;
}

.spring2 {
    max-width: 500px;
    text-align: center;
    grid-row: 3/4;
    grid-column: 3/4;
    border: solid black 1px;
    margin: 5px;
}
 
img[data-src] {
    max-width: 100%;
    max-height: auto;
}

p {
    padding: 3px;
}

}


