@media only screen and (min-width: 64em) {
    
.top {
    margin-bottom: 10px;
    max-width: 1200px;
    margin: auto;
}

#logo {
    width: 120px;
}

header {
    display: grid;
    grid-template-columns: repeat(2,150px);
    grid-template-rows: repeat(2,150px);
}

.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.logo-title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.logo-paragraph {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

nav ul li a {
    padding: .6rem 1rem;
}

p {
    font-family: 'Roboto Mono', monospace;
}


.preston-heading {
    margin-bottom: 10px;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}


.hero {
    text-align: center;
    border-style: solid;
    margin-bottom: 10px;
    max-width: 1200px;
    margin: auto;
}

.fiveday {
    text-align: center;
    border-style: solid;
    margin-bottom: 10px;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

.article {
    text-align: center;
    border-style: solid;
    margin-bottom: 10px;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

.contact {
    text-align: center;
    border-style: solid;
    margin-bottom: 10px;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

footer {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-color: cornflowerblue;
    max-width: 1250px;
    margin: auto;
}

h2 {
    text-align: center;
}

.herodiv {
    margin: 10px auto;
    position: relative;
    width: 960px;
    height: 460px;
}

.hero-ph {
    margin: 10px auto;
    background-color: #eee;
    border: 1px solid #333;
    width: 100%;
    height: 362px;
}

.weathersummary {
    position: absolute;
    top: 1rem;
    left: 10px;
    padding: 5px;
    border: solid black;
    width: 250px;
    background-color: rgb(58, 143, 255, 0.5);
}

.heroimg {
    max-width: 960px;
}

}

